@import "tailwindcss";

/* 1. 기본 스타일: 클릭 요소들은 선택 안 되게 & 커서 숨김 */
button,
a,
.cursor-pointer,
.select-none {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  caret-color: transparent;
}

/* 2. 일반 텍스트는 드래그는 되지만 커서 깜빡임은 방지 */
body {
  caret-color: transparent;
}

/* 3. 에디터 및 입력창 커서 복구  */
/* 에디터 엔진인 ProseMirror와 뷰어 영역을 구체적으로 지정 */
.toastui-editor-container .ProseMirror,
.toastui-editor-container .toastui-editor-contents,
.toastui-editor-container textarea,
.toastui-editor-container input,
input,
textarea {
  user-select: text;
  caret-color: auto;
}

/* 4. 위지윅 모드 대응 */
.toastui-editor-ww-container .ProseMirror div {
  caret-color: auto;
}
