@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* 1. 전체 요소에서 깜빡이는 커서(caret) 기본 제거 */
* {
  caret-color: transparent;
}

/* 2. 클릭 요소: 텍스트 선택 방지 및 하이라이트 제거 */
button,
a,
.cursor-pointer,
.select-none {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;
}

/* 3. 입력창: 커서와 텍스트 선택 기능 복구  */
input,
textarea,
[contenteditable="true"] {
  user-select: text;
  caret-color: auto;
}

/* 4. 스크롤바 커스텀 */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* slate-200 */
  border-radius: 10px;
}
