@import "tailwindcss";

/* 다크모드 인식 설정 */
@custom-variant dark (&:where(.dark, .dark *));

/* 0. 테마별 변수 설정 */
:root {
  --background: #ffffff;
  --foreground: #0f172a; /* slate-900 */
  --border: #f1f5f9; /* slate-100 */
}

body.dark {
  --background: #020617; /* slate-950 */
  --foreground: #f8fafc; /* slate-50 */
  --border: #1e293b; /* slate-800 */
}

/* 1. 기본 스타일 */
body {
  background-color: var(--background);
  color: var(--foreground);
  transition-property: color, background-color;
  transition-duration: 300ms;
  /* 2. 클릭 요소 인터랙션 설정 */
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  caret-color: transparent;
}

/* 3. 입력창 커서 복구 */
input,
textarea,
[contenteditable="true"],
.ProseMirror,
.ProseMirror * {
  user-select: text;
  caret-color: auto;
}

/* 4. 스크롤바 커스텀 (다크모드) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0; /* slate-200 */
  border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; /* slate-700 */
}
